.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: Avenir, Arial, sans-serif;
}

input[type=search] {
  border: 1px solid #5C5859;
  background-color: #332E2F;
  border-radius: 10px;
  margin-top: -3px;
  width: 210px;
  color: white;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

#mainHeader>header>div>div>div {
    height: 37px;
    vertical-align: middle;    
    display: table-cell;
}

#mainHeader>header>div>span {
  margin: 10px 5px 0 0;
}

/* Space out content a bit */
body {
  background-color: #C5C78F;
}

#mainHeader header {
  min-height: 43px;
  height: 43px;
  background-color: #332E2F;
  padding-top: 6px;
}

#mainHeader h1{
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
}

#mainHeaderContent {
  width: 1067px;
}

#mainHeader > nav {
  margin-top: 40px;
}

#mainHeader > nav li > a {
  padding: 7px 7px 6px 7px;
}

#mainHeader > nav li:last-child {
  margin-top: -3px;
}

#socialIcons {
  margin-top: 8px;
}

#socialIcons li {
  padding: 0 2px;
}

#mainHeader a {
  color: white;
}

#mainHeader a:hover {
  color: #FFFF33;
  background-color: transparent;
}

#mainHeader .navbar {
  border: none;
  border-radius: 0px;
}

#mainHeader .header {
  border: none;
}

.header-logo {
  height: 73px;
}

.main-nav {
  background-color: #882A2A;
  padding: 0;
  height: 41px;
  font-size: 19px;
}

#carousel {
  height: 360px;
}

#content header {
  color: white;
  background-color: #332E2F;
  height: 50px;
}

#content header > h1 {
  margin: 12px 0 8px 0;
  font-size: 20px;
  font-weight: normal;
}

#content>div.row>div {
  background-color: white;
}

#content>div.row>div:first-child {
    border-left: 1px solid #332E2F;
}

#content>div.row>div {
    border-right: 1px solid #332E2F;
}

#content ul.divided > li {
  border-bottom: 1px solid #332E2F;
}

.content-header {
  font-size: 22px;
  font-weight: normal;
  margin: 15px 0 0 0;
}

#content ul.divided > li:last-child {
  border-bottom: none;
}

.conent-column {
  height: 100%;
  min-height: 235px;
  text-align: center;
  font-color: #332E2F;
  font-size: 15px;
}

.social-icon {
  height: 25px;
  border: none;
}

.vcenter {
  width: 100%;
}

.calendar-entry {
  padding: 0;
  border-bottom: 1px solid #332E2F;
}

.calendar-entry h1 {
  margin: 0;
  font-size: 25px;
}

.calendar-entry div:last-child {
  text-align: left;
  margin: 3% 0;
}

.calendar-entry div:first-child {
  padding: 2%;
  margin: 3% 0;
}

.calendar-entry div:first-child > span {
  text-transform: uppercase;
  font-size: 17px;
  width: 100%;
}

.calendar-entry div:first-child > h2 {
  margin: 0;
  font-size: 40px;
}

#eventCalendar > li:last-child > div {
	border-bottom: none;
}

footer {
  color: white;
  background-color: #332E2F;
  height: 90px;
  color: #5C5859;
}

footer ul {
  margin: 10px 0 25px 0;
  font-size: 17px;
}

footer li {
  width: 24%;
  margin: auto;
  text-align: center;
}

footer a {
  color: #858282;
}

footer a:hover {
  text-decoration: none;
  color: #858282;
}