.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#mainHeader>header>div>div>div {
    height: 37px;
    vertical-align: middle;    
    display: table-cell;
}

#mainHeader>header>div>span {
  margin: 10px 5px 0 0;
}

/* Space out content a bit */
body {
  background-color: #C5C78F;
}

#mainHeader header {
  min-height: 43px;
  height: 43px;
  background-color: #332E2F;
  padding-top: 6px;
}

#mainHeader h1{
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
}

#mainHeader > nav {
  margin-top: 40px;
}

#social {
    height: 37px;
    vertical-align: middle;    
    display: table-cell;
}

#mainHeader a {
  color: white;
}

#mainHeader a:hover {
  background-color: #332E2F;
}

#mainHeader .navbar {
  border: none;
  border-radius: 0px;
}

#mainHeader .header {
  border: none;
}

.header-logo {
  height: 73px;
}

.mainNav {
  background-color: #882A2A;
  padding: 0;
}

#carousel {
  height: 360px;
}

#content header {
  color: white;
  background-color: #332E2F;
}

#content>div.row>div {
  background-color: white;
}

#content>div.row>div:first-child {
    border-left: 1px solid #332E2F;
}

#content>div.row>div {
    border-right: 1px solid #332E2F;
}

.conentColumn {
  min-height: 400px;
}

.social-icon {
  height: 25px;
  border: none;
}

footer {
  color: white;
  background-color: #332E2F;
  height: 90px;
}