.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Avenir 45 Book', Arial, sans-serif;
}

input[type=search] {
  border: 1px solid #5C5859;
  background-color: #332E2F;
  border-radius: 10px;
  margin-top: -3px;
  width: 210px;
  color: white;
  background: url('../images/searchIcon.png') no-repeat scroll 180px 2px;
  padding: 0 30px 0 5px;
}

input[type=search]:focus {
	outline-style: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

#mainHeader>header>div>div>div {
    height: 37px;
    vertical-align: middle;    
    display: table-cell;
}

#mainHeader>header>div>span {
  margin: 10px 5px 0 0;
}

/* Space out content a bit */
body {
  background-color: #C5C78F;
}

#mainHeader header {
  min-height: 43px;
  height: 43px;
  background-color: #332E2F;
  padding-top: 6px;
}

#mainHeader h1{
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin: 0;
}

#mainHeaderContent {
  width: 1067px;
}

#mainHeader > nav {
  margin-top: 40px;
}

#mainHeader > nav li > a {
  padding: 11px 7px 9px 7px;
}

#mainHeader > nav li:last-child {
  margin-top: -3px;
}

#socialIcons {
  margin-top: 8px;
}

#socialIcons li {
  padding: 0 2px;
}

#mainHeader a {
  color: white;
}

#mainHeader a:hover {
  color: #FFFF33;
  background-color: transparent;
}

#mainHeader .navbar {
  border: none;
  border-radius: 0px;
}

#mainHeader .header {
  border: none;
}

.header-logo {
  height: 73px;
}

#mainNav {
  background-color: #882A2A;
  padding: 0;
  height: 41px;
  font-size: 19px;
  display: block !important;
}

#mainNav > .navbar-nav {
  float: none;
}

#programsMainMenu div.dropdown-menu {
	left: -30px;
}

#howDoIMainMenu div.dropdown-menu {
	left: -225px;
}

#carousel {
  height: 360px;
  padding: 0px;
}

.carousel-caption {
	color: black;
	background-color: rgba(255,255,255,.85);
	bottom: 25%;
	left: 10%;
  text-shadow: none;
  padding-bottom: 10px;
  text-align: left;
}

.carousel-caption > h1 {
  font-family: 'Avenir 85 Heavy', Arial, sans-serif;
  border-bottom: 1px solid #332E2F;
  margin: 0 0 10px 0;
  font-size: 22px;
  padding-bottom: 10px;
}

.carousel-caption > p {
  font-size: 15px;
}

.carousel-control {
	width: 7%;
}

#content header {
  color: white;
  background-color: #332E2F;
  height: 50px;
}

#content header > h1 {
  font-size: 20px;
  font-weight: normal;
}

#content header > h1 > img {
	margin-left: 10px;
    vertical-align: top;    
}

#content>div.row>div {
  background-color: white;
}

#content>div.row>div:first-child {
    border-left: 1px solid #332E2F;
}

#content>div.row>div {
    border-right: 1px solid #332E2F;
    height: 100%;
}

#content ul.divided > li {
  border-bottom: 1px solid #332E2F;
}

.content-header {
  font-size: 22px;
  font-weight: normal;
  margin: 15px 0 0 0;
}

#content ul.divided > li:last-child {
  border-bottom: none;
}

#content div.row {
	background-color: white;
}

.content-column {
  height: 100%;
  min-height: 235px;
  text-align: center;
  color: #332E2F;
  font-size: 15px;
  padding: 0;
}

.content-column header > h1 {
	margin: 0px;
	padding-top: 15px;
}

.content-column ul {
	padding: 0 15px;
}

.content-column a {
	color: #332E2F;
}

.content-column a:hover {
	text-decoration: none;
}

#inquireColumn {
  text-align: left;
  font-size: 18px;
}

#inquireColumn ul {
	padding-left: 30px;
	padding-top: 10px;
}

.social-icon {
  height: 25px;
  border: none;
}

.vcenter {
  width: 100%;
}

.calendar-entry {
  padding: 0;
  border-bottom: 1px solid #332E2F;
  margin:0;
  display: table;
  width:100%;
}

.calendar-entry h1 {
  margin: 0;
  font-size: 25px;
}

.calendar-entry div:last-child {
  text-align: left;
  margin: 3% 0;
}

.calendar-entry div:first-child {
  padding: 2%;
  margin: 3% 0;
}

.calendar-entry div:first-child > span {
  text-transform: uppercase;
  font-size: 17px;
  width: 100%;
}

.calendar-entry div:first-child > h2 {
  margin: 0;
  font-size: 40px;
}

.calendar-component {
	display: table-cell;
	vertical-align: middle;
}

#eventCalendar > li:last-child > a > div {
	border-bottom: none;
}

footer {
  color: white;
  background-color: #332E2F;
  height: 90px;
  color: #5C5859;
}

footer ul {
  margin: 10px 0 25px 0;
  font-size: 17px;
}

footer li {
  width: 24%;
  margin: auto;
  text-align: center;
}

footer a {
  color: #858282;
}

footer a:hover {
  text-decoration: none;
  color: #858282;
}

.arrow {
	display: none;
}

#mainHeader a:hover {
  color: #FFFF33;
  background-color: transparent;
}

li.open > div.arrow {
  display: block;
  background-color: #882A2A;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  margin-top: -7px;
  left: 45%;
  position: absolute;
  z-index: 1000;
}

.arrow_active{
	display: block;
	background-color: #882A2A;
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
	margin-top: -7px;
	left: 45%;
	position: absolute;
	z-index: 1000;
}

#mainheader .nav > li > a:hover, .nav > li > a:focus {
  background-color: #882A2A;
}

#mainHeader .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #882A2A;
}

div.dropdown-menu {
  width: 420px;
  padding: 15px;
  z-index: 999;
  border-left: 1px solid #882A2A;
  border-right: 1px solid #882A2A;
  border-bottom: 1px solid #882A2A;
  border-radius: 0px;
  color: #332E2F;
}

#mainNav div.dropdown-menu ul {
	padding-left: 10px;
}

#mainNav div.dropdown-menu a {
	color: #332E2F;
	font-size: 17px;
}

#mainNav div.dropdown-menu a:hover {
	text-decoration: none;
}

#mobileSearch {
	border-bottom: 1px solid gray;
}

@media (max-width: 1199px) {
  #howDoIMainMenu div.dropdown-menu {
    left: -258px;
  }

  #programsMainMenu div.dropdown-menu {
	left: -97px;
  }

  #carousel .item > img {
    height: 360px;
  }
}

@media (max-width: 767px) {
	#mainNav {
		display: none !important;
	}
	
	.header-logo {
		height: 30px;
		margin: 0px 15px 0px 5px;
	}
	
	#mainHeader h1 {
		font-size: 20px;
		margin-top: 5px;
	}
}

/* Off Canvas Stuff */
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
	#mobileNavButton {
		margin: 0px;
	}
	
    #mobileNavButton .icon-bar {
	    background-color: white;
	}
	
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -75%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -75%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 75%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 75%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 75%; /* 6 columns */
		padding: 0;
		background-color: #332E2F;
		height: 100%;
    }

	.sidebar-offcanvas input {
		margin: 10px 0 10px 10px;
		width: 90%;
	  	background: url('../images/searchIcon.png') no-repeat scroll 5px 2px;
	  	padding: 0 0px 0 30px;
	}

	#sidebarAccordion a {
		color: white;
	}

    #sidebarAccordion .panel-default{
		margin: 0px;
		border-color: #332E2F;
		border-radius: 0px;
		border-bottom: 1px solid gray;
		background-color: #332E2F;
	}
	
	#sidebarAccordion .panel-heading {
		background-color: #332E2F;
	}
	
	#sidebarAccordion .panel-collapse {
		background-color: #454444;
	}
	
	#sidebarAccordion .panel-body {
		margin-bottom: 0px;
		border-top: 1px solid gray;
	}
	
	#sidebarAccordion a:hover {
		text-decoration: none;
		color: yellow;
	}
    
}

