#parkHeader {
	background: white;
	border-left: 1px solid #332E2F;
	border-right: 1px solid #332E2F;
	padding: 0px;
}

#parkHeader h1 {
	font-family: 'Avenir 85 Heavy', Arial, sans-serif;
	margin: 20px 0 0 10px;
}

#parkHeader p {
	margin-left: 10px;
}

#gmap {
	height: 550px;
	border-top: 1px solid #CCC;
}