#parkHeader {
	background: white;
	border-left: 1px solid #332E2F;
	border-right: 1px solid #332E2F;
	padding: 0px;
}

#parkHeader h1 {
	font-family: 'Avenir 85 Heavy', Arial, sans-serif;
	margin: 20px 0 0 10px;
}

#parkHeader p {
	margin-left: 10px;
}

#mapContainer {
	position: relative;
}

#gmap {
	height: 550px;
	border-top: 1px solid #CCC;
}

#parkDesc {
	position: absolute;
	background-color: white;
	left: 3%;
	top: 12%;
	height: 75%;
	width: 20%;
	border: 1px solid #332E2F;
	box-shadow: 5px 5px 5px #BBB;
	z-index: 900;
	padding: 10px;
}

#parkDesc h1 {
	font-size: 20px;
	border-bottom: 1px solid #332E2F;
	margin: 0;
	padding: 10px 0px 5px 0px;
}

#parkDesc p {
	margin: 7px 0 0 0;
}